<div class="text-black p-1 text-right mt-2 mb-4">
    <span style="float:right">
        <h6>Add new note: </h6>
        <button href="/new" class=" btn  btn-outline-info btn-sm" routerLink="/new">Add</button>
    </span>
    <div class="col-md-6 mt-4 m-auto" style="float:left">
        <div class="col-md-6">
            <div class="form-group" id="changeText">
                <form [formGroup]="form" (ngSubmit)="searchNote()" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" formControlName="title" name="title" id="title" class="form-control"
                            placeholder="Search for title">
                        <input type="submit" class="btn btn-primary" value="Search" (click)="displaySearchFun()"
                            style="left: 200px;top: 5px;">
                    </div>
                    <div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="displaySearch">
        <table class="table table-hover" style="border-collapse: collapse" [cellPadding]="0" style="text-align:left;">
            <thead>
                <th [width]="50">Image</th>
                <th [width]="200">Title</th>
                <th>Description </th>
                <th><input type="submit" class="btn btn-outline-danger btn-sm" value="close" (click)="close()"
                        style="position:absolute;top: 218px; right: 150px; background-color: red;"></th>
            </thead>
            <tbody *ngFor="let note of note" style="padding:0px">
                <tr style="padding:0px">
                    <td style="padding:0px">
                        <img src="{{imageDirectory}}{{note?.image}}" height="100" width="100">
                    </td>
                    <td style="padding:0px">{{note?.title}}</td>
                    <td style="padding:0px">{{note?.description}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>